doctype 
html(lang="en" data-ng-app="DebateCoaching")
  head
    title Debate Tutoring
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/normalize.css")
    link(rel="stylesheet", href="css/skeleton.css")
    link(rel="stylesheet", href="css/custom.css")
    link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Raleway:400,300,600")
    link(rel="icon" type="image/png" href="favicon.png")
    script(src='//code.jquery.com/jquery-latest.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js')
    script(src='myNgApp/UserController.js')
    script(src='myNgApp/BookingsController.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')

  body.container-fluid(ng-controller="BookingsController")
    div.studentView(ng-show="user.role === 'student'")
      h2 Your Coach : {{tutor}}!
      div.coachTimes(ng-show="slots.length")
        p His Available Times
        ul#available_Times(ng-repeat="s in slots")
          li <a class="appointments" href="" ng-click="makeReq(tutor, s[0], s[1])">{{s[0]}}, {{s[1]}}</a>
      div.background(ng-show="tutorObj.background")
        p His Debating Background
        ul#coachRecord(ng-repeat="r in tutorObj.record")
          li {{r}}
      div.temp(ng-hide="tutorObj.background")
        p Your Coach hasn't uploaded any records (Maybe he is actually a NOOB... :O)
    
    div.coachView(ng-show="user.role === 'coach'")
      h2 Debate Coach - {{user.name}}
      div.appointments(ng-show="user.appointments && user.appointments.length")
        p You are in demand! These are your upcoming appointments :
        table.appointments
          thead
            tr
              th Confirm?
              th Decline?
              th Day
              th Time
              th Student Name
              th Student Email
              th Status
          tr(ng-repeat="app in user.appointments")
            td(ng-click="confirmReq(app.studentName, app.studentEmail, app.day, app.time, 'confirmed')") Confirm
            td(ng-click="confirmReq(app.studentName, app.studentEmail, app.day, app.time, 'declined')") Decline
            td app.day
            td app.time
            td app.studentName
            td app.studentEmail
            td app.status

