doctype 
html(lang="en" data-ng-app="DebateCoaching")
  head
    title Debate Tutoring
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/normalize.css")
    link(rel="stylesheet", href="css/skeleton.css")
    link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Raleway:400,300,600")
    link(rel="icon" type="image/png" href="favicon.png")
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js')
    script(src='myNgApp/UserController.js')

  body.container-fluid(ng-controller="UserController")
    h2 Welcome {{user.name}}!
    div.profile(ng-show="user.info")
      p Coach since {{user.since}}
      ul.info(ng-repeat= "key in user.info")
        li <b>{{format(key[0]).toUpperCase()}}</b> : {{key[1]}}
      table.history(ng-show="user.trainings")
        thead
          tr
            th Date
            th Duration
        tr(ng-repeat= "train in user.trainings")
          td train.date
          td train.duration
      div.prompt(ng-hide="user.trainings")
        p You don't have any training sessions lined up..
        p
          a.appointments(href="/bookings") Spruce up my profile!