doctype 
html(lang="en" data-ng-app="DebateCoaching")
  head
    title Debate Tutoring
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/normalize.css")
    link(rel="stylesheet", href="css/skeleton.css")
    link(rel="stylesheet", href="css/custom.css")
    link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Raleway:400,300,600")
    link(rel="icon" type="image/png" href="favicon.png")
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js')
    script(src='myNgApp/UserController.js')

  body.container-fluid(ng-controller="UserController")
    h2 Welcome {{user.name}}!
    div.profile(ng-show="user.info")
      p Coach since {{user.since}}
      ul.info(ng-repeat= "key in user.info")
        li <b>{{format(key[0]).toUpperCase()}}</b> : {{key[1]}}
      table.history(ng-show="user.trainings")
        thead
          tr
            th Date
            th Duration
        tr(ng-repeat= "train in user.trainings")
          td train.date
          td train.duration
      div.prompt(ng-hide="user.trainings")
        p You haven't had any training sessions recently ...
        p
          a.profileEdit(href="/profile") Spruce up my profile!
        p
          a.bookings(href="/bookings") Check out my upcoming appointments!
    
    div.info(ng-hide="user.info")
      h3 Tell Us More About Yourself!
      form(name="coachInfo", ng-submit="updateCoach(coach)")
        .row
          .col-xs-10
            label(for="Experience") Years of Experience
            input.form-control(required, type='number', ng-model="coach.Experience")
        .row <b>Preferred Tutoring Days</b>
          <br/>
          span.form-inline(ng-repeat="d in days")
            span.checkbox
              label-inline(for="Available Days") {{d[1]}}
                input.checkbox(type="checkbox", value="", ng-model="hisDays[d[0]]")
        .row <b>Preferred Timings</b>
          <br/>
          span.form-inline(ng-repeat="t in times")
            span.checkbox
              label-inline(for="Available Times") {{t}}
                input.checkbox(type="checkbox", value="", ng-model="hisTimes[times.indexOf(t)]")
        .row
          .col-xs-10
            label(for="Maximum Students") Maximum Hours per Week
            select.form-control(required, type='number', ng-model="coach['Maximum_Students']")
          .col-xs-2
            button.btn.btn-success Begin My Debate Coaching Adventure!
              i.glyphicon.glyphicon-plus
