doctype 
html(lang="en" data-ng-app="DebateCoaching")
  head
    title Debate Tutoring
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/normalize.css")
    link(rel="stylesheet", href="css/skeleton.css")
    link(rel="stylesheet", href="css/custom.css")
    link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Raleway:400,300,600")
    link(rel="stylesheet", href='//maxcdn.bootstrapcdn.com/bootswatch/3.3.5/lumen/bootstrap.min.css')
    link(rel="icon" type="image/png" href="favicon.png")
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js')
    script(src='myNgApp/UserController.js')

    ul.nav.nav-pills
      li
        a(href="/") Home
      li 
        a(href="/about") About



  body.container-fluid(ng-controller="UserController")
    h2 Welcome {{user.name}}!
    div.profile(ng-show="user.info")
      p Coach since {{user.since}}
      ul.info(ng-repeat= "key in user.info")
        li <b>{{format(key[0]).toUpperCase()}}</b> : {{format(key[1])}}
      table.history(ng-show="user.trainings")
        thead
          tr
            th Date
            th Duration
        tr(ng-repeat= "train in user.trainings")
          td train.date
          td train.duration
      div.prompt(ng-hide="user.trainings")
        p You haven't had any training sessions recently ...
        p
          a.profileEdit(href="/profile") Spruce up my profile!
        p
          a.bookings(href="/bookings") Check out my upcoming appointments!
    
    div.info(ng-hide="user.info")
      h3 Tell Us More About Yourself!
      form.container(name="coachInfo", ng-submit="updateCoach(coach)")
        div.form-group
          .row
              label(for="Experience") <b>Years of Experience</b>
              input.form-control(required, type='number', ng-model="coach.Experience")
        div.form-group
          .row <b>Preferred Tutoring Days</b>
            <br/>
            span.form-inline(ng-repeat="d in days")
              span.checkbox
                label-inline(for="Available Days") {{d[1]}}
                  input.checkbox(type="checkbox", value="", ng-model="hisDays[d[0]]")
        div.form-group
          .row <b>Preferred Timings</b>
            <br/>
            span.form-inline(ng-repeat="t in times")
              span.checkbox
                label-inline(for="Available Times") {{t}}
                  input.checkbox(type="checkbox", value="", ng-model="hisTimes[times.indexOf(t)]")
        div.form-group
          .row
              label(for="Maximum Students") <b>Maximum Hours per Week</b>
              input.form-control(required, type='number', ng-model="coach['Maximum_Students']")
        div.form-group
          .row
            button.btn.btn-success(type="Submit")
              i.glyphicon.glyphicon-plus
              p Begin My Debate Coaching Adventure!
