doctype 
html(lang="en" data-ng-app="DebateCoaching" ng-controller="UserController")
  head
    title Debate Tutoring
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/normalize.css")
    link(rel="stylesheet", href="css/skeleton.css")
    link(rel="stylesheet", href="css/custom.css")
    link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Raleway:400,300,600")
    link(rel="stylesheet", href='//maxcdn.bootstrapcdn.com/bootswatch/3.3.5/lumen/bootstrap.min.css')
    
    link(rel="icon" type="image/png" href="favicon.png")
    script(src='//code.jquery.com/jquery-latest.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js')
    script(src='myNgApp/UserController.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')

    ul.nav.nav-pills.navbar.navbar-default.flashBlack
      li
        a(href="/") Home
      li
        a(href="/about") About
      li
        a(ng-show="user.role" href="/coach") My Home Page
      li
        //a(ng-show="user" href="/tutors") Tutors
        a(href="/tutors") Tutors
      li.navbar-right.pad(ng-hide="user.role")
        a(href="/login") Log In
      //li.navbar-right.pad(ng-show="user.role")
        //a(href="/logout" method="/post") Log Out



  body
    div#team
        h2 Reach Out!
        ul
          li <strong>Co-Founder</strong>: Austin Lee - <em>yu.chuan.lee@duke.edu</em>
          li <strong>Co-Founder</strong>: Sophia Aliza Jamal - <em>sophiaj.aliza@gmail.com</em>
          li <strong>Bugs?</strong>: Adithya Raghunathan - <em>ra102@duke.edu</em>  
    



