doctype 
html(lang="en" data-ng-app="DebateCoaching" ng-controller="UserController")
  head
    title Debate Tutoring
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    include includes/nav.jade
    div#team
        h2 Reach Out!
        ul
          li <strong>Co-Founder</strong>: Austin Lee - <em>yu.chuan.lee@duke.edu</em>
          li <strong>Co-Founder</strong>: Sophia Aliza Jamal - <em>sophiaj.aliza@gmail.com</em>
          li <strong>Bugs?</strong>: Adithya Raghunathan - <em>ra102@duke.edu</em>  
    
