doctype 
html(lang="en" data-ng-app="DebateCoaching")
  head
    title Debate Tutoring
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    include includes/stdimports.jade
    script(src='myNgApp/UserController.js')
    include includes/nav.jade
  
  .container(ng-controller="UserController")
    .row
        h2 Debate Coaching
        form(action="/auth/google" method="get")
          h3 Have an Account?
          div.row
            div.six.columns
          input.button-primary(type="submit",value="Sign In with Google!")
    .row
        form(action="/auth/google" method="get")
          h3 New User?
          div.row
            div.six.columns
          input.button-primary(type="submit",value="Sign Up with Google!")
        
