doctype 
html(lang="en" data-ng-app="DebateCoaching")
  head
    title Debate Tutoring
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/normalize.css")
    link(rel="stylesheet", href="css/skeleton.css")
    link(rel="stylesheet", href="css/custom.css")
    link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Raleway:400,300,600")
    link(rel="stylesheet", href='//maxcdn.bootstrapcdn.com/bootswatch/3.3.5/lumen/bootstrap.min.css')
    link(rel="icon" type="image/png" href="favicon.png")
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js')
    script(src='myNgApp/UserController.js')

  ul.nav.nav-pills.navbar.navbar-default.flashBlack
      li(ng-show="user")
        a(href="/coach") My Home Page
      li 
        a(href="/about") About
      li
        a(href="/tutors") Tutors



  body.container-fluid(ng-controller="UserController")
    h2 Welcome {{user.name}}!
      div.container
        span
          form.container(action="/student" method="post")
            label(for="role") Find an awesome coach!
              div.buttonHolder
                input.button-primary(type="submit",value="I'm a (wannabe) debater!")
        span
          form.container(action="/coach" method="post")
            label(for="role") Share your wisdom!
              div.buttonHolder
                input.button-primary(type="submit", value="I'm a coach!")