html 
  head
    title
      OpenTOK Test for Ascent Debate
    Booyakasha Bounty!
    script(src="webRTCTest/openTOKmin.js")
    script(src="webRTCTest/OpenTOKDemo.js") 
  
  body
    p(text-align="centre") First Video should appear below
    div(float='centre' id='myPublisherDiv') 
    p(text-align="centre") Subsequent Videos should appear below
    div(id='subscribersDiv')           