doctype 
html(lang="en" data-ng-app="DebateCoaching" ng-controller="UserController")
  head
    title Debate Tutoring
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    include includes/stdimports.jade
    include includes/nav.jade
      


  section.bg-primary
    .container-fluid
      if(coach)
        h2 #{coach.name}
        ul#coachFields
          each val, index in coach
            li=index + " : " + val
      else
        h2 This coach has not updated his information yet. Please visit again later!
