doctype 
html(lang="en" data-ng-app="DebateCoaching" ng-controller="UserController")
  head
    title Debate Tutoring
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/normalize.css")
    link(rel="stylesheet", href="css/skeleton.css")
    link(rel="stylesheet", href="css/custom.css")
    link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Raleway:400,300,600")
    link(rel="stylesheet", href='//maxcdn.bootstrapcdn.com/bootswatch/3.3.5/lumen/bootstrap.min.css')
    
    link(rel="icon" type="image/png" href="favicon.png")
    script(src='//code.jquery.com/jquery-latest.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js')
    script(src='myNgApp/UserController.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')

    ul.nav.nav-pills
      li
        a(href="/") Home
      li 
        a(href="/about") About
      li
        a(ng-show="user" href="/student") My Home Page
      li
        a(href="/tutors") Tutors


  body.container-fluid
    if(coach)
      h2 #{coach.name}
      ul#coachFields
        each val, index in coach
          li=index + " : " + val
    else
      h2 This coach has not updated his information yet. Please visit again later!