doctype 
html(lang="en" data-ng-app="DebateCoaching")
  head
    title Debate Tutoring
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/normalize.css")
    link(rel="stylesheet", href="css/skeleton.css")
    link(rel="stylesheet", href="css/custom.css")
    link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Raleway:400,300,600")
    link(rel="icon" type="image/png" href="favicon.png")
    script(src='//code.jquery.com/jquery-latest.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js')
    script(src='myNgApp/UserController.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')

  body.container-fluid(ng-controller="UserController")
    h2 Welcome {{user.name}}!
    div.profile(ng-show="user.info")
      p#since Student since {{user.since}}
      ul.info(ng-repeat= "key in user.info")
        li <b>{{format(key[0]).toUpperCase()}}</b> : {{format(key[1])}}
    span.profile(ng-show="user.info")  
      table.history(ng-show="user.trainings")
        p These are your upcoming training sessions...
        thead
          tr
            th Day
            th Time
            th Status
        tr(ng-repeat= "train in user.trainings")
          td {{train.day}}
          td {{train.time}}
          td {{train.status}}
      div.prompt(ng-hide="user.trainings")
        p You don't have any training sessions lined up...
        a#bookAppointments(href="/bookings") Book an appointment with my preferred tutor!


    div.info(ng-hide="user.info")
      h3 Tell Us More About Yourself!
      form(name="studentInfo", ng-submit="updateStudent(student)")
        .row
          .col-xs-10
            label(for="Experience") Years of Experience
            input.form-control(required, type='number', ng-model="student.Experience")
        .row
          .col-xs-10
            label(for="Available Days") Preferred Tutoring Days
            select.form-control(multiple="", ng-model="student['Available_Days']", ng-options="d[1] for d in days")
        .row
          .col-xs-10
            label(for="Available Times") Preferred Timings
            select.form-control(multiple="", ng-model="student['Available_Times']", ng-options="t for t in times")
        .row <b>Preferred Tutoring Days (User-Friendly Version)</b>
          <br/>
          span.form-inline(ng-repeat="d in days")
            span.checkbox
              label-inline(for="Available Days") {{d[1]}}
                input.checkbox(type="checkbox", value="", ng-model="hisDays[d[0]]")
        .row <b>Preferred Timings (User-Friendly Version)</b>
          <br/>
          span.form-inline(ng-repeat="t in times")
            span.checkbox
              label-inline(for="Available Times") {{t}}
                input.checkbox(type="checkbox", value="", ng-model="hisTimes[times.indexOf(t)]")
        .row
          .col-xs-10
            label(for="Preferred Tutor") Preferred Tutor
            select.form-control(required, ng-model="student.Preferred_Tutor", ng-options="t for t in tutors")
          .col-xs-2
            button.btn.btn-success Begin My Debate Adventure!
              i.glyphicon.glyphicon-plus
    span.contentHolder
      p#currentAffairs Brush up on your current affairs!
      span#content
        script(src='js/NewsFeed.js')

