doctype 
html(lang="en" data-ng-app="DebateCoaching")
  head
    title Debate Tutoring
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/normalize.css")
    link(rel="stylesheet", href="css/skeleton.css")
    link(rel="stylesheet", href="css/custom.css")
    link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Raleway:400,300,600")
    link(rel="stylesheet", href='//maxcdn.bootstrapcdn.com/bootswatch/3.3.5/lumen/bootstrap.min.css')
    
    link(rel="icon" type="image/png" href="favicon.png")
    script(src='//code.jquery.com/jquery-latest.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js')
    script(src='myNgApp/UserController.js')
    script(src='myNgApp/TutorsController.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    
    ul.nav.nav-pills.navbar.navbar-default.flashBlack
      li
        a(href="/") Home
      li 
        a(href="/about") About
      li(ng-show="user.role")
        a(href="/coach") My Home Page
      li
        a(href="/contact") Contact Us
      li.navbar-right.pad(ng-hide="user.role")
        a(href="/login") Sign Up/In
      //li.navbar-right.pad(ng-show="user.role")
        //a(href="/logout") Log Out
    
  body.container-fluid(ng-controller="TutorsController")
    div#numCoaches
      p We have <b>{{tutorAvails.length}}</b> coaches!
    div#bookingIns
      p Click on one of the available slots to book an appointment!
    table.container#Availability
      thead 
        tr
          th.center Coach
          th.center(ng-repeat = "day in days") {{day[1]}}
      tr(ng-repeat = "tutor in tutorAvails")
        td 
          a(href="/{{tutor['Name']}}/profile") {{tutor['Name']}}
        td.dropdown(ng-repeat="(index, avail) in tutor['Avail'] track by $index") 
          a.dropdown-toggle(ng-show="avail.length>0" href="" data-target="#" data-toggle="dropdown") {{avail.length}}
          ul.dropdown-menu
            li(ng-repeat="time in avail")
              a(href="#" ng-click="makeReq(user.name, user.email, tutor, index, time)") {{time}}






      
