body {
	//background-image : url('../background2.jpg');
	background-position: center;
	background-size : 100%;
	text-align : center;
}

span.form-inline {
	margin-right : 30px;
}

input.checkbox {
	margin-left : 10px;
	margin-right : 10px;
}

p#since {
	margin-bottom : 20px;
	padding-bottom: 20px; 
}

span.profile {
	text-align : center;
}


table.history, th, tr, td {
	text-align : center;
	margin : auto;
}


span.contentHolder {
	text-align : center;
	margin-left : 200px;
	padding-left : 100px;
	//margin-right: 50px;
	//padding-right: 50px;
}

span.contentHolder h2 {
	display : inline;
	margin-left : 10px;
	margin-right : 10px;
	padding-left : 10px;
	padding-right : 10px;
}

span#content h2, p {
	display : inline;
	margin-left : 10px;
	margin-right : 10px;
	padding-left : 10px;
	padding-right : 10px;
}

p#currentAffairs {
	display : block;
	font-family: helvetica;
	font-style : italic;
	font-style : bold;
	font-size: 20px;
}
	
a#bookAppointments {
	text-align : center;
}

th {
	text-align : center;
}

div.container {
	//background-image : url('../debate.jpg');
	//background-position: center;
	//background-repeat: repeat-y;
}

.navbar-default {
	background-color: lightgray !important;
}

/***
.flashBack {
	border-left: 0px !important;
	border-right: 0px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
}
***/

.flashBlack :hover {
	background-color : black !important;
}

.pad {
	padding-right: 20px !important;
	border-left: 0px !important;
	border-right: 0px !important;
	//padding-left: 0px !important;
	//padding-right: 0px !important;
}